@model ecommerceWebMvcUser.Models.Classes.Urunler

@using ecommerceWebMvcUser.Models.Classes;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Home slider-->
<div class="slideshow slideshow-wrapper pb-section">
    <div class="home-slideshow">
        <div class="slide slideshow--medium">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home5-banner1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home5-banner1.jpg" alt="The One" title="The One" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content classic left">
                        <div class="container">
                            <div class="wrap-caption left">
                                <h2 class="h1 mega-title slideshow__title">Bir Tık Uzağınızda</h2>
                                <span class="mega-subtitle slideshow__subtitle">Cesur ve yeni görünümünüzü tamamlamak için</span>
                                <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Hemen Alışverişe Başlayın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slideshow--medium">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home5-banner2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home5-banner2.jpg" alt="Editors Picks" title="Editors Picks" />
                <div class="slideshow__text-wrap slideshow__overlay classic top">
                    <div class="slideshow__text-content classic top">
                        <div class="container">
                            <div class="wrap-caption center">
                                <h2 class="h1 mega-title slideshow__title">Editörün Seçimi</h2>
                                <span class="mega-subtitle slideshow__subtitle">Editörün Temel Maskara Rehberi</span>
                                <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Şimdi Alışveriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->
<!--Collection Tab slider-->
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Senin için en iyilerini seçtik</h2>
                    <p>Geniş ürün çeşitliliğimizi inceleyin</p>
                </div>
                <div class="tabs-listing">
                    <ul class="tabs clearfix">
                        <li class="active" rel="tab1">Tavsiye Ediyoruz</li>
                        <li rel="tab2">Yeni Neler Var</li>
                        <li rel="tab3">En İyi Teklifler</li>
                    </ul>
                    <div class="tab_container">
                        <div id="tab1" class="tab_content grid-products">
                            <div class="productSlider">
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/49">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image1.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image1-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image1-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">Yeni</span></div>
                                            <!-- End product label -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/49">Klasik Kırmızı Ruj</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="old-price">500.00 ₺</span>
                                            <span class="price">350,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/51">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image2.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image2-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image2-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>

                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/51">LoveGlow Highlighter</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">250.00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/52">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image3.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image3-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image3-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular"><span class="lbl pr-label2">Popüler</span></div>
                                            <!-- End product label -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/52">RoseGold Highlighter</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">350,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/53">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image4.jpg" alt="image" title="product" />
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image4-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image4-1.jpg" alt="image" title="product" />
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels"><span class="lbl on-sale">Satışta</span></div>
                                            <!-- End product label -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/53">Pembe Likit Ruj</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="old-price">380,00 ₺</span>
                                            <span class="price">280,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/54">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image5.jpg" alt="image" title="product" />
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image5-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image5-1.jpg" alt="image" title="product" />
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels"><span class="lbl on-sale">Satışta</span></div>
                                            <!-- End product label -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/54">Pembe Toz Allık</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">450,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab_content grid-products">
                            <div class="productSlider">
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/55">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image6.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image6.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image6-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image6-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">Yeni</span></div>
                                            <!-- End product label -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/55">Bordo Ruj</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">350,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/56">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image7.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image7.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image7-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image7-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/56">Nude Far Paleti</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">500,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/57">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image8.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image8.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image8-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image8-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>

                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/57">Geniş Açılı Allık Fırçası</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">450,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/58">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image9.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image9.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image9-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image9-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/58">3'lü Far Fırça Seti</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">450,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/59">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image10.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image10.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image10-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image10-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/59">Kompakt Pudra</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">450,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab_content grid-products">
                            <div class="productSlider">
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/60">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image11.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image11.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image11-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image11-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/60"> Siyah Allık Fırçası</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">350,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/61">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image12.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image12.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image12-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image12-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/61">Kırmızı ve Mor Ruj Seti</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">550,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/62">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image13.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image13.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image13-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image13-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>

                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/62">Mor Pigmentli Far</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">400,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/64">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image14.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image14.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image14-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image14-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/64">Ara Ring</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">400,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/Urunler/UrunDetay/53">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image15.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image15.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image15-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/product-image15-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/Urunler/UrunDetay/53">Pembe Likit Ruj</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">280,00 ₺</span>
                                        </div>
                                        <!-- End product price -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Collection Tab slider-->
<!--Featured Column-->
<div class="section featured-column">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">SİZİN İÇİN EN İYİ GÜZELLİK SEÇİMLERİ!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Featured Item-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <p>
                    <a href="/KadinKozmetik/Index">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic1.jpg" alt="feature-row__image">
                    </a>
                </p>
                <h3 class="h4"><a href="/KadinKozmetik/Index">Renkli Kozmetik Ürünleri</a></h3>
                <div class="rte-setting"><p><strong>İsteyebileceğinizden daha fazlası yok. </strong>Cildinize mat bir bitişle doğal bir parlaklık verir.</p></div>
                <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Hemen Alışverişe Başlayın</a>
            </div>
            <!--End Featured Item-->
            <!--Featured Item-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <p>
                    <a href="/KadinKozmetik/Index">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic2.jpg" alt="feature-row__image">
                    </a>
                </p>
                <h3 class="h4"><a href="/KadinKozmetik/Index">Dudak Rengi</a></h3>
                <div class="rte-setting"><p>Kalın ve parıltılı bir dudak renginin tadını çıkarın. Uzun süre kalıcı, ultra mat mükemmel dudak rengini sevin.</p></div>
                <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Yeni ürünleri inceleyin</a>
            </div>
            <!--End Featured Item-->
            <!--Featured Item-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <p>
                    <a href="/KadinKozmetik/Index">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/cosmetic3.jpg" alt="feature-row__image">
                    </a>
                </p>
                <h3 class="h4"><a href="/KadinKozmetik/Index">Göz Kalemi</a></h3>
                <div class="rte-setting"><p>Mükemmelliği yakalayarak uygulayın. Dramatik kanat mükemmelliği. İnce uçlu likit göz kalemi uzun süre kalıcıdır.</p></div>
                <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Şimdi satın al</a>
            </div>
            <!--End Featured Item-->
        </div>
    </div>
</div>
<!--End Featured Column-->
<!--Parallax Section-->
<div class="section">
    <div class="hero hero--large hero__overlay bg-size">
        <img class="bg-img blur-up" src="/belle-multipurpose-bootstrap-html-template/assets/images/parallax-banners/cosmetic-parallax.jpg" alt="" />
        <div class="hero__inner">
            <div class="container">
                <div class="wrap-text center text-large font-bold">
                    <h2 class="h2 mega-title">Süper Yumuşak</h2>
                    <div class="rte-setting mega-subtitle">Bu dudak rujlarının ne kadar harika olduğuna inanamayacaksınız!<br></div>
                    <a href="@Url.Action("Index", "KadinKozmetik")" class="btn">Bugün Kiti Alın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Parallax Section-->
<!--Product Single-->
<div class="section product-single product-template__container">
    <div class="container">
        <div class="product-single-wrap">
            <div class="row display-table">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 display-table-cell">
                    <img src="/belle-multipurpose-bootstrap-html-template/assets/images/cosmetic-product/single-product.jpg" alt="" class="product-featured-img" />
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 display-table-cell">
                    <div class="product-single__meta">
                        <h2 class="grid_item-title h2">Bordo Ruj</h2>
                        <h2 class="product-single__title h4">
                            <a href="#">Mat Bordo Ruj</a>
                        </h2>

                        <p class="product-single__price">
                            <span class="old-price">400,00 ₺</span>
                            <span class="product-price__price product-price__sale product-price__sale--single">
                                <span class="price">350,00 ₺</span>
                            </span>
                        </p>

                        <div class="product-single__description rte">Kişiliğinizi tamamlayacak mat bordo ruj! Bu çarpıcı ruj, dudaklarınıza güçlü bir ifade kazandırmak için tasarlandı. Mat bitiş, uzun süre kalıcılık ve yoğun pigmentasyon ile dudaklarınızı vurgular. Özellikler: Mat Bitiş, Uzun Süre Kalıcılık, Yoğun Renk</div>

                        <!-- Product Action -->
                        <div class="product-action clearfix">

                            <div class="product-form__item--submit">
                                <a href="/Urunler/UrunDetay/55" class="btn product-form__cart-submit">
                                    <span>Ürünü İncele</span>
                                </a>
                            </div>

                        </div>
                        <!-- End Product Action -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Product Single-->
<!--Store Feature-->
<div class="store-feature section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="display-table store-info">
                    <li class="display-table-cell">
                        <i class="icon anm anm-truck-l"></i>
                        <h5>Ücretsiz Kargo ve İade</h5>
                        <span class="sub-text">Tüm ABD siparişlerinde ücretsiz kargo</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-dollar-sign-r"></i>
                        <h5>Para İade Garantisi</h5>
                        <span class="sub-text">30 gün para iade garantisi</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-comments-l"></i>
                        <h5>Online Destek</h5>
                        <span class="sub-text">Online olarak 7/24 destek sağlıyoruz</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-credit-card-front-r"></i>
                        <h5>Güvenli Ödemeler</h5>
                        <span class="sub-text">Tüm ödemeler güvence altında ve güvenilirdir.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--End Store Feature-->
