
@model ecommerceWebMvcUser.Models.Classes.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();
    <!-- Page Title -->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Hesap Oluştur</h1></div>
        </div>
    </div>
    <!-- End Page Title -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>İsim</label>
                                @Html.TextBoxFor(model => model.İsim, new { id = "FirstName", autofocus = "autofocus" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Soyisim</label>
                                @Html.TextBoxFor(model => model.Soyisim, new { id = "LastName" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.mail, new { id = "CustomerEmail", autocorrect = "off", autocapitalize = "off" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                @Html.TextBoxFor(model => model.KullaniciAdi, new { id = "CustomerUsername", autocorrect = "off", autocapitalize = "off" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Şifre</label>
                                @Html.TextBoxFor(model => model.Sifre, new { id = "CustomerPassword", autocorrect = "off", autocapitalize = "off" })

                                @*@Html.TextBoxFor<ecommerceWebMvcUser.Models.Classes.Register, string>*@
                                @*(model => model.Password, new { id = "CustomerPassword" })*@

                                @*@Html.TextBoxFor(model => model.Password, new { id = "CustomerPassword" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" class="btn btn-primary">Kaydol</button>
                            @*<input type="submit" class="btn mb-3" value="Kaydol">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
