@using ecommerceWebMvcUser.Models.Classes;
@model List<FavOgesi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Favorilerim</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <form action="#">
                    <div class="wishlist-table table-content table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-name text-center alt-font">Kaldır</th>
                                    <th class="product-price text-center alt-font">Görsel</th>
                                    <th class="product-name alt-font">Ürün Adı</th>
                                    <th class="product-price text-center alt-font">Fiyat</th>
                                    <th class="stock-status text-center alt-font">Kategori</th>
                                    <th class="product-subtotal text-center alt-font">Sepete Ekle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-remove text-center" valign="middle"><a href="/Wishlist/UrunSil/@item.UrunID"><i class="icon icon anm anm-times-l"></i></a></td>
                                        <td class="product-thumbnail text-center">
                                            <a href="#"><img src="@item.UrunGorseli" alt="" title="" /></a>
                                        </td>
                                        <td class="product-name"><h4 class="no-margin"><a href="#">@item.UrunAdi</a></h4></td>
                                        <td class="product-price text-center"><span class="amount">@item.Fiyat</span></td>
                                        <td class="stock text-center">
                                            <span class="in-stock">@item.Kategori</span>
                                        </td>
                                        <td>
                                            <form class="variants add" action="/Sepet/UrunSepeteEkle" method="post">
                                                <input type="hidden" name="urunId" value="@item.UrunID" /> <!-- Ürünün ID'sini buradan alıyoruz -->
                                                <input type="hidden" name="adet" value="1" /> <!-- Varsayılan adet değeri -->
                                                <button class="btn btn-addto-cart" type="submit">Sepete Ekle</button>
                                            </form>
                                        </td>
                                        @*<td class="product-subtotal text-center"><button type="button" class="btn btn-small">Sepete Ekle</button></td>*@
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>