@using ecommerceWebMvcUser.Models.Classes;
@model List<SepetOgesi>

@{ ViewBag.Title = "SiparisOnay";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Sipariş Ödeme ve Onaylama</h1></div>
    </div>
</div>
<!--End Page Title-->

<div class="container">

    <div class="row billing-fields">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
            <div class="create-ac-content bg-light-gray padding-20px-all">
                <form>
                    <fieldset>
                        <h2 class="login-title mb-3">FATURA DETAYLARI</h2>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-firstname">İsim <span class="required-f">*</span></label>
                                <input name="firstname" value="" id="input-firstname" type="text">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-lastname">Soyisim <span class="required-f">*</span></label>
                                <input name="lastname" value="" id="input-lastname" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-email">E-Mail <span class="required-f">*</span></label>
                                <input name="email" value="" id="input-email" type="email">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-telephone">Telefon <span class="required-f">*</span></label>
                                <input name="telephone" value="" id="input-telephone" type="tel">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-city">İl <span class="required-f">*</span></label>
                                <input name="city" value="" id="input-city" type="text">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                <label for="input-address-2">İlçe <span class="required-f">*</span></label>
                                <input name="address_2" value="" id="input-address-2" type="text">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-address-1">Adres <span class="required-f">*</span></label>
                                <input name="address_1" value="" id="input-address-1" type="text">
                            </div>

                        </div>


                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-12 col-lg-12 col-xl-12">
                                <label for="input-company">Sipariş Notu <span class="required-f">*</span></label>
                                <textarea class="form-control resize-both" rows="3"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="your-order-payment">
                <div class="your-order">
                    <h2 class="order-title mb-4">Siparişiniz</h2>

                    <div class="table-responsive-sm order-table">
                        <table class="bg-white table table-bordered table-hover text-center">
                            @foreach (var sepetOgesi in Model)
                            {
                <thead>
                    <tr>
                        <th class="text-left">Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Tutar</th>
                    </tr>
                </thead>
                                <tbody>

                                    <tr>
                                        <td class="text-left">@sepetOgesi.UrunAdi</td>
                                        <td>@sepetOgesi.Fiyat ₺</td>
                                        <td>@sepetOgesi.Adet</td>
                                        <td>@sepetOgesi.ToplamFiyat ₺</td>
                                    </tr>
                                </tbody>
                                                <tfoot class="font-weight-600">
                                                    <tr>
                                                        <td colspan="3" class="text-right">Kargo Ücreti</td>
                                                        <td>@sepetOgesi.kargoUcreti ₺</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" class="text-right">Toplam Tutar</td>
                                                        <td>
                                                            <p>@ViewBag.ToplamOdenecek ₺</p>
                                                        </td>
                                                    </tr>
                                                </tfoot> @*<tfoot class="font-weight-600">
                                                                        <tr>
                                                                            <td colspan="3" class="text-right">Shipping</td>
                                                                            <td>$50.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3" class="text-right">Total</td>
                                                                            <td>$845.00</td>
                                                                        </tr>
                                                                    </tfoot>*@}
                        </table>

                        @*<table class="bg-white table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Ürün Adı</th>
                                            <th>Fiyat</th>
                                            <th>Adet</th>
                                            <th>Tutar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sepetOgesi in Model)
                                        {
                            <tr>
                                <td class="text-left">@sepetOgesi.UrunAdi</td>
                                <td>@sepetOgesi.Fiyat</td>

                                <td>@sepetOgesi.Adet</td>
                                <td>@sepetOgesi.ToplamFiyat</td>
                            </tr>

                                                            }
                                    </tbody>
                                    <tfoot class="font-weight-600">
                                        <tr>
                                            <td colspan="4" class="text-right">Shipping </td>
                                            <td>$50.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-right">Total</td>
                                            <td>$845.00</td>
                                        </tr>
                                    </tfoot>
                                </table>*@
                    </div>
                </div>

                <hr />

                <div class="your-payment">
                    <h2 class="payment-title mb-3">Ödeme Seçenekleri</h2>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion" class="payment-section">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">Doğrudan Banka Havalesi </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="no-margin font-15">Ödemenizi doğrudan banka hesabımıza yapın. Lütfen ödeme referansı olarak Sipariş Kimliğinizi kullanın. Hesabımıza para geçene kadar siparişiniz gönderilmeyecektir.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-2">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">ödeme bilgileri </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-cardname">Karttaki İsim  <span class="required-f">*</span></label>
                                                        <input name="cardname" value="" placeholder="Card Name" id="input-cardname" class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-country">Kredi Kartı <span class="required-f">*</span></label>
                                                        <select name="country_id" class="form-control">
                                                            <option value=""> --- Birini Seçin --- </option>

                                                            <option value="2">Visa Card</option>
                                                            <option value="3">Master Card</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-cardno">Kredi Kartı Numarası<span class="required-f">*</span></label>
                                                        <input name="cardno" value="" placeholder="Credit Card Number" id="input-cardno" class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-cvv">CVV <span class="required-f">*</span></label>
                                                        <input name="cvv" value="" placeholder="Card Verification Number" id="input-cvv" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label>Son kullanma tarihi <span class="required-f">*</span></label>
                                                        <input type="date" name="exdate" class="form-control">
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <img class="padding-25px-top xs-padding-5px-top" src="/belle-multipurpose-bootstrap-html-template/assets/images/payment-img.jpg" alt="card" title="card" />
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form  class="order-button-payment"   action="/Siparis/SiparisDetay" method="post">
                            <!-- Sepet içeriği burada listelenebilir. -->

                            <input type="submit" name="checkout" class="btn btn--small-wide checkout" value="Sepeti Onayla">
                        </form>
                        @*<div class="order-button-payment">
                            <button class="btn" value="Place order" type="submit">Siparişi Onayla</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>