@model ecommerceWebMvc.Models.Classes.Urunler
@{
    ViewBag.Title = "UrunGetirme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Ürün Ekleme</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Anasayfa</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Ürünler
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Ürün Güncelleme
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                @using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.UrunAdi)
                            @Html.TextBoxFor(model => model.UrunAdi, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Stok)
                            @Html.TextBoxFor(model => model.Stok, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Marka)
                            @Html.TextBoxFor(model => model.Marka, new { @class = "form-control" })
                        </div>


                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AlisFiyati)
                            @Html.TextBoxFor(model => model.AlisFiyati, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SatisFiyati)
                            @Html.TextBoxFor(model => model.SatisFiyati, new { @class = "form-control", type = "text" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Durum)
                            @Html.DropDownListFor(model => model.Durum, new SelectList(new[]
                            {
                                new SelectListItem { Text = "Aktif", Value = "true" },
                                new SelectListItem { Text = "Pasif", Value = "false" }
                            }, "Value", "Text"), "Lütfen bir seçenek seçin", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.UrunGorsel)
                            @Html.TextBoxFor(model => model.UrunGorsel, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Renk)
                            @Html.TextBoxFor(model => model.Renk, new { @class = "form-control" })
                        </div>


                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Beden)
                            @Html.DropDownListFor(model => model.Beden, new SelectList(new[]
                            {
                                new SelectListItem { Text = "XS", Value = "XS" },
                                new SelectListItem { Text = "S", Value = "S" },
                                new SelectListItem { Text = "M", Value = "M" },
                                new SelectListItem { Text = "L", Value = "L" },
                                new SelectListItem { Text = "XL", Value = "XL" },
                                new SelectListItem { Text = "XXL", Value = "XXL" }
                            }, "Value", "Text"), "Lütfen bir seçenek seçin", new { @class = "form-control" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Numara)
                            @Html.TextBoxFor(model => model.Numara, new { @class = "form-control" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Cinsiyet)
                            @Html.DropDownListFor(model => model.Cinsiyet, new SelectList(new[]
                            {
                                new SelectListItem { Text = "Kadın", Value = "Kadın" },
                                new SelectListItem { Text = "Erkek", Value = "Erkek" },
                                new SelectListItem { Text = "Çocuk", Value = "Çocuk" }
                            }, "Value", "Text"), "Lütfen bir seçenek seçin", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Kategori)
                            @Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, "Lütfen bir seçenek seçin", new
                           {
                               @class = "form-control"
                           })
                        </div>


                    </div>
                    <!-- Diğer alanları da aynı mantıkla ekleyebilirsiniz -->

                    <button class="btn btn-primary">Güncelle</button>
                }
            </div>
        </div>
    </div>
</div>
