@using ecommerceWebMvc.Models.Classes
@model  List<SatisHareketi>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Cari Ekleme</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Anasayfa</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Cari Satış Sayfası
                                </li>
                                <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">

                <table class="table table-condensed">
                    <tr>
                        <th>Satış ID</th>
                        <th>Ürün</th>
                        <th>Personel</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam</th>
                        <th>Tarih</th>
                        <th>Yazdır</th>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.SatisID</td>
                            <td>@x.Urunler.UrunAdi</td>
                            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
                            <td>@x.Fiyat</td>
                            <td>@x.Adet</td>
                            <td>@x.ToplamTutar</td>
                            <td>@x.Tarih</td>
                            <td><a href="#" style="background-color: #708EE9; color:white" class="btn btn-default">Yazdır</a></td>
                        </tr>

                    }


                </table>

              



            </div>
        </div>
    </div>
</div>

