@using ecommerceWebMvcUser.Models.Classes;
@model List<SepetOgesi>


@{ ViewBag.Title = "SiparisDetay";
    Layout = "~/Views/Shared/_Layout.cshtml"; }-->
<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Siparişleriniz</h1></div>
    </div>
</div>

<!--End Page Title-->
<div class="container">
    <div class="row">
        <dl class="row">
            <dt class="col-sm-3">İsim</dt>
            <dd class="col-sm-9">Beyza</dd>

            <dt class="col-sm-3">Soyisim</dt>
            <dd class="col-sm-9">
                <p>Bolat</p>
            </dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">Byzbolatttt155@gmail.com</dd>

            <dt class="col-sm-3 text-truncate">Adres</dt>
            <dd class="col-sm-9">deneme</dd>

            <dt class="col-sm-3">Telefon numarası</dt>
            <dd class="col-sm-9">1111111111</dd>
        </dl>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="alert alert-success text-uppercase" role="alert">
                <i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Siparişiniz oluşturuldu!</strong> En kısa sürede size ulaştırılacaktır.
            </div>
            <form action="#" method="post" class="cart style2">
                <div class="wishlist-table table-content table-responsive">
                    <table class="table table-bordered">
                        <thead class="cart__row cart__header">
                            <tr>
                                <th colspan="2" class="text-center">Ürün</th>
                                <th class="text-center">Fiyat</th>
                                <th class="text-center">Adet</th>
                                <th class="text-center">Toplam</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sepetOgesi in Model)
                            {
                <tr class="cart__row border-bottom line1 cart-flex border-top">
                    <td class="product-thumbnail text-center">
                        <a href="#"><img src="@sepetOgesi.UrunGorseli" alt="" title="" /></a>
                    </td>
                    <td class="cart__meta small--text-left cart-flex-item">
                        <div class="list-view-item__title">
                            <a href="/Urunler/UrunDetay/@sepetOgesi.UrunID">@sepetOgesi.UrunAdi </a>
                        </div>

                    </td>

                    <td class="product-price text-center"><span class="amount">@sepetOgesi.Fiyat ₺</span></td>

                    <td class="product-price text-center">

                        @sepetOgesi.Adet

                    </td>
                    <td class="product-price text-center"><span class="amount">@sepetOgesi.ToplamFiyat ₺</span></td>

                </tr>
}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><a href="javascript:history.back()" class="btn btn-secondary btn--small cart-continue">Alışverişe devam et</a></td>



                                <td colspan="3" class="text-right">
                                    <a href="@Url.Action("Bosalt", "Sepet")" class="btn btn-danger">Sepeti Boşalt</a>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
        


    </div>
</div>



